# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objective**
- popular languages in the Data Scientists
- commonly used libraries used by Data Scientists
- examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java

### Create a markdown cell to list data science libraries
1. Pandas
2. Numpy
3. Matplolib
4. Seaborn
5. Scikit-Learn
6. TensorFlow

|Data Science Tools|
|------------------|
|Python|
|Apache Hadoop|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Tiago Bertni Lobo